*.csv
*.lp
*.log
**/data_confidential/**
Dumps/
dumps/
docs/_build/
docs/_static/
docs/_templates/
data_output/
*.oemof
*.png
__pycache__
.idea
*.xlsx
**/venv/**
!parameters_all_energy_systems.csv
!parameters_energy_system_0*.csv